<!--
  Generated template for the YogaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>yogaPage</ion-title>
  </ion-navbar>

</ion-header>-->
 
<ion-header class="header">
   <ion-grid>
    <ion-row>
    <ion-col col-3>
     <ion-icon class="icon ion-md-heart-outline"></ion-icon>
    </ion-col>
    <ion-col class="heading" col-6 >
       <img class="headLogo" src="assets/images/logo-small.png">
    </ion-col>
    <ion-col col-3>
      <ion-icon (click)="showSearch()" md="md-search"></ion-icon>
    </ion-col>
    </ion-row>
   </ion-grid>
   <ion-grid *ngIf="search" class="search">
     <ion-row>
       <ion-col col-12>
          <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()">
          </ion-searchbar>
           <ion-icon class="closeButton" (click)=" hideSearch()" md="ios-close-circle-outline"></ion-icon>
       </ion-col>
     </ion-row>
   </ion-grid>
</ion-header>
<ion-content>

<ion-card (click)="callPost(tip)" *ngFor="let tip of tips"  >

    <div class="postImg">
      <span class="video" [ngClass]="tip.videos.length == 0 ? 'hide' : 'show'"> <img src="assets/images/play-btn.png"></span>
      <img  src="{{changeImage(tip.images)}}">
    </div>
  <ion-card-content class="card-content">
    <ion-card-title class="title">
      <h4>{{tip.title}} <span class="date" >{{changeDate(tip.createdAt)}}</span></h4>
    </ion-card-title>
   <div class="para" [innerHTML]="renderContent(tip.description)"></div>
    <ion-grid class="icons">
      <ion-row>
      <div class="reviews">
             <ion-icon class="happyIcon icon ion-ios-happy-outline"></ion-icon>
            <span>{{tip.likes.length}}</span>
            <ion-icon class="heartIcon icon ion-md-heart-outline"></ion-icon>
            <span>{{tip.favourites.length}}</span>
          
          </div>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

</ion-content>
