body ion-app.md{
    background: $color-green;
}

.card-title-md{
    margin: 0px;
    padding: 0px;
}
.title{
    h4{
        font-family: 'Ropa Sans', sans-serif;
        font-size: 18px;
        margin: 0px;
        padding: 10px 50px 0px 0px;
        position: relative;
        font-weight: bold;
    }
        .date{
        position: absolute;
        font-family: 'Ropa Sans', sans-serif;
        right: 15px;
        font-size: 11px;
        margin-top: -5px;
        top: 50%;   
        font-weight: 400;
    }
}
    .para{
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        margin: 0px;
        padding: 0px;
    }
    .card-content-md{
        padding: 0px 0px 0px 13px;
    }
    .grid{
        margin: 0px;
        padding: 0px;
    }
    .heart {
        color:$color-red;
         font-size: 9px;
    }
    .happy{
        color: #c3e198;
         font-size: 9px;
    }
    .heart-count{
        color: $secondary-color;
        font-size: 9px;
    }
    .happy-count{
        color:$secondary-color;
        font-size: 9px;
    }
     .tabs-md .tab-button{
        color: $heading-color;
        min-height: none;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        min-height: 38px;
    }  
    .tabs-md .tab-button-text{
        font-size: 14px;
    }
    
    .tabs-md .tab-button[aria-selected="true"] {
        padding: 0;
        color: $heading-color;
        min-height: none;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }
    .header{
        position: relative;
        text-align: center;
        font-size: 20px;
        @include horizontal-gradient(#8ec73e,#cbe62c );
        color: white;
        font-family: 'Ropa Sans', sans-serif;
    h3{
        margin: 0px;
        padding: 0px;
        }
    }
    .search{
            position: absolute;
            top: -10px
        }
    
    .tabs-md .tab-button[aria-selected="true"]{
        &:after{
            content: '';
            position: absolute;
            display:block;
            height: 4px;
            background-color:$color-green;
            bottom: 0px;
            left:0px;
            right:0px;
        }
    }
    
    .button-md:hover:not(.disable-hover){
        background-color: none;
    }
    
    element.style {
        margin-top: 37px;
    }
    .toolbar-md {
    min-height: 36px;
    margin: 0px;
    padding: 0px;
    }
    
    .toolbar-title-md{
        color:$color-white;
        font-size: 19px;
        line-height: 28px;
        font-family: 'Ropa Sans', sans-serif;
    } 
    .toolbar-background-md {
         @include horizontal-gradient(#8ec73e,#cbe62c );
    }
    
    .item-radio-checked.item-md ion-label {
        color:$color-green;
    }
   .radio-md .radio-inner {
        background-color:$color-green;
    }
   .item-radio-checked .radio-md .radio-icon{
        border-color:$color-green;
    }
    .tabbar.show-tabbar.tabs-md[tabsLayout="icon-hide"] .tab-button, .tabs-md[tabsLayout="title-hide"] .tab-button, .tabs-md .tab-button.icon-only, .tabs-md .tab-button.has-title-only {
    padding: 0px;
    }
    .searchbar-md .searchbar-search-icon{
        left: 19px;
        top: 6px;
    }
    .searchbar-md .searchbar-input{
        height: 30px;
    }
    
    ion-header{
        ion-icon{
        
margin-top: 3px;
        }
    }
    
    .headLogo{
        
            width: 70px;
    }
    .heading{
        
        padding: 0px;
        
    }
    
    .closeButton{
        color: #000;
        position: absolute;
        right: 19px;
        top: 19px;
        font-size: 18px;
    }
    .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .search .searchbar-has-value.searchbar-has-focus .searchbar-clear-icon{
        display: none;
    }




.reviews{          
    font-size: 18px;      

    .heartIcon{
    font-size: 1em;
    color: $color-red;
    line-height: 1.5em;
    display: inline-block;
    }
    .happyIcon{
    color: $color-green;
    font-size: 1em;
    line-height: 1.5em;
    display: inline-block;
    }
    span{
    font-size: 0.7em;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    line-height: 1em;
    display: inline-block;
    }
   
 }